:root {
 --background-color:#FFFFFF ;
 --cornflower: #E7E9FC ;
 --navy-blue: #2E2F42 ;
 --cloud:#f4f4fd ;
 --iris: #4D5AE5 ;
 --ocean: #404BBF ;
 --slate:#434455 ;

  }


  .header-link{
    font-family:'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size:18px; 
line-height:1,17;
display:flex;
align-items:center;
letter-spacing: 0.03em;
text-transform:uppercase;
text-decoration: none;
  }
  .link {
    color: #2E2F42;
  }
  
  .link:hover {
    color: #4D5AE5;
   
  }



  .header-logo{
    font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;
text-decoration: none;
  }

.list{
  text-decoration: none;
  color: var(--primary-color-navyblue);
}

  .team-section{
    background-color: #F4F4FD;
    background-color: white;
  }
  .header-item{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;  
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  

  .order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24;
    letter-spacing: 0.04em;
    color: var(--light-text-color);
    background:var(--ocean);
    cursor: pointer;
}

.order-button{
background-color:#404BBF
}
.order-button:hover {
    background-color: #404BBF;
  }

  .header-contacts{
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--primary-color-navyblue);
  }

  .section-hero{
    background-color:#2E2F42 ;
  }
  body{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   
  background-color: var(--background-color);
    letter-spacing: 0.02em;
    color: #434455;
  }

.hero-body-title{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}

.order-button{
background-color:#4D5AE5 ;
}

.features-list{

}

.features-title-item{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}

.features-text-item{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
}

.team-section{
  background-color: #F4F4FD ;
}
.sub-title{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height:1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-name{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height:1.2;

letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
}

.team-position{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
text-decoration: none;
}

.footer-section{
  background-color: #2E2F42 ;
}

.footer-link{
  font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.footer-logo{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:  #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}
.footer-text-item{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #F4F4FD;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.filter-button-all{
  font-family:'Roboto',sans-serif ;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  background:#404BBF;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  flex: none;
  order: 4;
  flex-grow: 0;
  cursor: pointer;
  text-decoration: none;
    }

  

  .filter-button{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color:var(--#4D5AE5) ;
    flex: none;
    order: 0;
    flex-grow: 0;
   background-color:var(#F4F4FD) ;
cursor: pointer;
text-decoration: none;
  }

  .filter-button:hover{
    color:#4D5AE5 ;
    background-color: #E7E9FC;

    
  }

  .features-subtitles{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
  }

  .features-items{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }