:root {
 --background-color:#FFFFFF ;
 --cornflower: #E7E9FC ;
 --navy-blue: #2E2F42 ;
 --cloud:#f4f4fd ;
 --iris: #4D5AE5 ;
 --ocean: #404BBF ;
 --slate:#434455 ;

  }

.header-hero{
background-color: #FFFFFF;
}


.header-link{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  order: 0;
  flex-grow: 0;
}

.header-logo{
  font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;
}


  .link:hover,
  .link:focus{
    color: #404bbf;
    color: #404bbf;
  }

.list{
  list-style: none;
  text-decoration: none;
  color: var(--primary-color-navyblue);
}

  

  .contacts{
    font-style: normal;
  }
  .header-item{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .header-contacts{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-navyblue);
      }

      main{
        background-color: #FFFFFF;
      }
  .order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-text-color);
    background:var(--ocean);
    cursor: pointer;
}

.order-button{
background-color:#404BBF
}
.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
  }

  .order-button{
    background-color:#4D5AE5 ;
    color: #FFFFFF;
    }

  .section-hero{
    background-color:#2E2F42 ;
  }
  body{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   
  background-color: var(--background-color);
    letter-spacing: 0.02em;
    color: #434455;
  }

.hero-body-title{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}


.features-title-item{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--#2E2F42) ;
flex: none;
order: 0;
flex-grow: 0;
}


.features-text-item{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;
color:var(--#434455);
flex: none;
order: 1;
flex-grow: 0;
}

.doing-section{
  background-color: #FFFFFF;
}
.list{
  background-color: #F4F4FD;
}

.sub-title{
  font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height:1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(-- #2E2F42);
}

.sub-title{
  font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--#2E2F42) ;
}
.team-section{
  background-color: #F4F4FD ;
}

.team-items{
  background-color: #FFFFFF ;
 
}



.team-name{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height:1.2;
letter-spacing: 0.02em;
color: var(-- #2e2f42 );
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
background-color: #FFFFFF;
}

.team-position{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  
  letter-spacing: 0.02em;
  color:var(-- #434455);
  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: #FFFFFF;
  
}

.footer-section{
  background-color: #2E2F42 ;
}

.footer-link{
  font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.footer-logo{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:  #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}
.footer-text-item{
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: #F4F4FD;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.filter-button{
  font-family:'Roboto',sans-serif ;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  color: var(--#4d5ae5) ;
  background-color: var(--#F4F4FD);
  cursor: pointer;
  text-decoration: none;
    }

    .filter-button:hover,
    .filter-button:focus{
     color:var(--#FFFFFF) ;
       color:var(--#FFFFFF);
    }
  
    .filter-button:hover,
    .filter-button:focus{
      background-color: var(--ocean);
      color:var(--cornflower ) ;
    }
  .link{
    text-decoration: none;
    
  }

  .features-subtitles{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
  }

  .features-items{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }