:root {
    /* IRIS */
    /* OCEAN */
  }

  .header-link{
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    order: 0;
    flex-grow: 0;
  }
  .link {
    color: #2E2F42;
  }
  
  .link:hover {
    color: #4D5AE5;
   
  }

  .header-logo{
    font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1,17px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;
  }

.header-list{
  text-decoration: none;
  color: var(--primary-color-navyblue);
}

  .team-section{
    background-color: #F4F4FD;
    background-color: white;
  }
  .header-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5px;  
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  

  .order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-text-color);
    background: #4D5AE5;
    cursor: pointer;
}

.hero-image-button:hover,
.hero-image-button:focus {
    background-color: #404BBF;
}

  .header-contact-items{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,11px;
letter-spacing: 0.02em;
color: #434455;
  }

  .section-hero{
    background-color:#2E2F42 ;
  }
  body{
    font-family: 'Roboto'sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  font-weight: 1.5;
  letter-spacing: 0.02em
  }

.hero-body-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.order-button{
background-color:#4D5AE5 ;
}

.features-list{

}

.features-title-item{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}

.features-text-item{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
}

.sub-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}

.team-position{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
flex: none;
order: 1;
flex-grow: 0;
}

.footer-section{
  background-color: #2E2F42;
}

.footer-link{
  font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    order: 0;
    flex-grow: 0;
}

.footer-logo{
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1,17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-text-item{
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1,11px;

  letter-spacing: 0.02em;
  color: #F4F4FD;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.filter-button-all{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 126px;
  height: 48px;
  background:#404BBF;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  flex: none;
  order: 4;
  flex-grow: 0;
    }

  

  .filter-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
   background-color: #F4F4FD;

  }
  .features-subtitles{
    font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1,5px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
  }

  .features-items{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }